@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style-type: square;
  margin-left: 30px;
  padding: 2px;
}

.css-4m13bx {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: linear-gradient(90deg, rgba(50, 181, 255, 0.07) 9.15%, rgba(255, 114, 224, 0.07) 104.07%), rgba(22, 23, 26, 0.3);
  backdrop-filter: blur(15px);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 50;

}

nextjs-portal {
  display: none;
}